########################################
# DJANGO CORE
########################################

SECRET_KEY=django-insecure-change-this-super-long-key-1234567890
DEBUG=False

ALLOWED_HOSTS=127.0.0.1,localhost,pronos-platform-2.onrender.com,pronos-platform-1.onrender.com,web-production-b2e88f.up.railway.app


########################################
# DATABASE
########################################

# LOCAL (SQLite par défaut si vide)
DATABASE_URL=

# PRODUCTION (PostgreSQL exemple)
# DATABASE_URL=postgres://user:password@host:5432/dbname


########################################
# SECURITY / CSRF / CORS
########################################

CSRF_TRUSTED_ORIGINS=https://pronos-platform-2.onrender.com,https://pronos-platform-1.onrender.com,https://web-production-b2e88f.up.railway.app

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000


########################################
# EMAIL
########################################

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

DEFAULT_FROM_EMAIL=noreply@pronos-platform.com


########################################
# JWT (optionnel)
########################################

JWT_ACCESS_LIFETIME=3600
JWT_REFRESH_LIFETIME=604800


########################################
# CKEDITOR
########################################

CKEDITOR_UPLOAD_PATH=uploads/


########################################
# OPTIONAL PRODUCTION FLAGS (si tu les utilises dans settings.py)
########################################

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
